{
  "extends": ["standard", "standard-preact"],
  "globals": {
    "PWD": true,
    "ENV": true,
    "envMode": true,
    "envUrls": true,
    "document": true,
    "window": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "space-before-function-paren": 0,
    "jsx-quotes": [0, "prefer-double"]
  }
}
